.recipeRow {
  margin-top: 15px;
}

.card {
  margin-top: 15px;
}

.recipeListCard {
  width: 18rem;
}


div.poster {
  width: 100%;
  margin: auto;
}

.smallPoster {
  user-select: none;
}
.inner {
  overflow: hidden;
  transition: max-height 0.2s ease;
}

.heart {
  position: absolute;
  width: 33em;
  height: 2em;
  margin-top: .5em;
  filter: drop-shadow(2px 4px 6px black);
}

.heartEmpty {
  stroke: white;
}
